input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: rgb(243, 243, 243);
  text-align: center;
  padding: 100px ;
}
